/*-------------------------------------
        3.  Welcome-hero
--------------------------------------*/
body {
    margin:0px;
}

.welcome-hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    position:relative;
    background:url(resources/first.jpg)no-repeat;
    background-size:cover;
    background-position: center;
    height:100vh;
}
.welcome-hero:before{
    position:absolute;
    content: " ";
    top:0;
    left:0;
    background:rgba(31,44,108,.65);
    width:100%;
    height:100%;
}

.container {
    z-index: 1;
}

.header-text {
    margin-top: 10vh;
}

.header-text h2 {
    color: #fff;
    font-size: 8vw;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.5;
}

.list-items{
    margin-top: 20vh;
    width: 80%;
}

.item-container {
    display: flex;
    margin-top: 2vh;
    align-items: center;
}

.item-text {
    margin-left: 5vw;
    color: white;
    font-size: 5vw;
    font-weight: 200;
    font-family: 'Arial', sans-serif;
}

#countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    color: #333;
    margin-top: 10vh;
  }
  
  #countdown > div {
    margin: 0 10px;
    padding: 10px;
    border: 1px solid #ccc;
    color: white;
  }